on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ci-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.21.5'

      - name: Build
        run: |
          go build

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/lyledouglass/djzth-utilities-bot:${{ github.sha }}-ci .
          docker push ghcr.io/lyledouglass/djzth-utilities-bot:${{ github.sha }}-ci
